h1{
    color: black;
    text-align: center;
}
p{
    color:black;
}
h6{
    color:darkorchid;
}
body{
    margin: 0%;
    background-color: lavender;
}
p{
    font-family:fantasy;
}
h1{
    font-family: fantasy;
    font-size:x-large;
    font-weight:800px;
}
h6{
    font-family: fantasy;
}
p{
    font-size:medium;
}
li{
    font-family: fantasy;
}
ul{
    font-family: fantasy; 
    list-style-type: square ;
}
h1{
    background-color:floralwhite
}
h1{
    border-style:ridge;
    border-color: darkorchid;
}
h2{
    font-family: fantasy;
    color: black;
    font-size: 21px;
    border-style: ridge;
    background-color: floralwhite;
    border-radius: 10px;
    border-width: 2px;
}

.p1{
    text-align: center;
    font-size: large;color:#000;
    background-color: floralwhite;
}
.p2{
    text-align: center;
    font-size: large;
    color: #000;
    border-style: ridge;
    background-color: floralwhite;
    border-radius: 10px;
    border-width: 2px;
}
.p3{
    text-align: center;
    font-size: large;color: #000;
}
.p4{
    text-align: center;
    font-size: large;
    color: #000;
    border-style: ridge;
    background-color: floralwhite;
    border-radius: 10px;
    border-width: 2px;
}
ul{
    text-align: center;
}
li{
    text-align: center;
}     
.p5{
    text-align: center;
    text-indent: 10%;
    width: 650px;
    margin:auto;
    border-style: ridge;
    background-color: floralwhite;
    border-radius: 10px;
    border-width: 2px;
}
.p6{
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22%;
    
}
.center2{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.center3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 25px;
}
.colum2{
    float:left;
    width: 33.33%;
    padding: 5%;
}
.row2::after{
    content:"";
    clear:both;
    display:table;
}
.colum3{
    float:left;
    width: 33.33%;
    padding: 5%;
}
.row3::after{
    content:"";
    clear:both;
    display:table;
}

 .container{
        width: 100%;
        min-height: 0vh;
        padding-left: 6%;
        padding-right: 6%;
        box-sizing: border-box;
        overflow: hidden;
    }
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display:inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration:underline;
    color: #000;
    font-size: 15px;
}
nav ul li a:hover{
    color: #ff5ea2;
}
.navbar{
    border-bottom: 2px darkorchid;
    border-style: ridge;

}
.ul1{
    font-family: fantasy; 
    list-style-type:  square ;
    text-align: center;
}

.ul2{
    font-family: fantasy; 
    list-style-type: square ;
    text-align: center;
  border-style: ridge;
}
.p1{
    border-top: 2px darkorchid;
    border-style:hidden
}
*{
    box-sizing: border-box;
}
.colum {
    float:left;
    width: 53%;
    padding: 10px;
    height: 250px;
    text-align: center;
}
.row {
    content: '';
    display: table;
    clear: both;
    text-align: center;
}
li{list-style:square;

}